.nav-box{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: solid 3px ;
  border-radius: 10px;
  color: #8b8b8b;
  background-color: rgb(239, 244, 248);

}

.horizontal-menu {
  display: flex;          /* Xếp các <li> theo hàng ngang */
  list-style: none;       /* Bỏ dấu chấm trước các mục */
  padding: 10px;             /* Xóa khoảng cách mặc định */
  margin: 0;
  gap: 20px;              /* Khoảng cách giữa các mục */
}

.horizontal-menu li {
  
  width: 150px;                /* Kích thước cố định */
  height: 50px;
  display: flex;               /* Để canh giữa nội dung */
  align-items: center;         /* Canh giữa theo chiều dọc */
  justify-content: center;     /* Canh giữa theo chiều ngang */
  
  border-radius: 3px;
  cursor: pointer;

  color: white;
}

.btn{
  margin: 5px;
  
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #bebdbd;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  color: #070000;
font-size: 14px;
}