* {
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eee;
}

.header {
    height: 50vh;
    background-image: 
    linear-gradient(to right bottom, 
   rgba(76, 216, 255, 0.8),
   rgba(30, 108, 217, 0.8)),
   url('/public/beach.jpg');
    
    background-size: cover;
    background-position: top;
    position: relative;

}
.header-icon{
    display: flex;
    justify-content: space-between; /* đẩy hai phần tử về 2 phía */
    align-items: center;            /* căn giữa theo chiều dọc */
    padding: 10px;
    
  
}


.header-brand { font-size: 20px; }

.header-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
}


.header-btn{
    margin: 10px;
}
.header-btn:link,
.header-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.header-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header-btn-white {
    background-color: #fff;
    color: #1e1d1d;
  font-size: 14px;
}